.Home{
    display: flex;
    background-color: black;
}
@media only screen and (max-width: 768px) {

    .Home{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}
