.App{
    display: flex;
    flex-direction: column;
}
/* App.css or Loading.css */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure the overlay is above everything else */
  }
  